body, html {
  margin: 0;
}

* {
  font-family: Candara;
}

#page-heading-container {
  background-color: deepskyblue;
  margin: 0;
  padding: 0;
}

#page-heading {
  font-size: 40px;
  margin-left: 30px;
  display: inline;
}

#page-navigation-bar-container {
  background-color:lightskyblue;
  margin: 0;
  padding: 0;
}

#page-navigation-bar {
  margin: 0 10px 0 10px;
  padding: 5px;
}

#page-navigation-bar > a {
  color: darkblue;
  margin: 10px;
  padding: 5px;
  font-size: 20px;
}

#page-cover-image-container {
  margin: 0;
  padding: 0;
  border-width: 0;
}

#page-cover-image {
  width: 100%;
  padding: 0;
  margin: 0;
  border-width: 0;
}

.add-container{
  background-color: cornflowerblue;
  margin: 5px 0 10px 0;
  padding: 0;
}

.add-form-heading-container, #pricing-heading-container {
  padding: 10px;
}

.add-form-heading, #pricing-heading {
  font-size: 30px;
  margin-left: 10px;
  display: inline;
}

.add-form-input-container {
  width: 340px;
  height: 30px;
}

#add-vehicle-textarea-input-container, #give-feedback-textarea-input-container {
  width: 340px;
  height: 60px;
}

#add-vehicle-textarea-input-container > label, #add-vehicle-textarea-input-container > textarea {
  width: 100%;
  display: block;
  margin: 5px;
}

.add-form-input-container > .input-label, .add-form-input-container > .input-input, .add-form-buttons {
  display: inline-block;
  width: 150px;
  margin: 5px;
  padding: 0;
}

#give-feedback-textarea-input-container > label, #give-feedback-textarea-input-container > textarea {
  width: 100%;
  display: block;
  margin: 5px;
}

#pricing-container {
  background-color: slategray;
}

.pricing-card {
  
}